@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'FIPPS';
    src: url(./fonts/Fipps-Regular.otf);
}

@font-face{
    font-family: 'PIXEL';
    src: url(./fonts/PixelFraktur.ttf);
}

@font-face{
    font-family: 'TIGHT';
    src: url(./fonts/tight_pixel.ttf);
}